[submodule "inputs/data"]
	path = inputs/data
	url = git@github.com:TheAxonLab/hcph-dataset.git
	datalad-id = 73493bd6-b271-4177-b201-97fca030a99f
	datalad-url = git@github.com:TheAxonLab/hcph-dataset.git
